<div class="block"><h1><%= blog.escape("title") %></h1>
<h2>Author: <a href="/users/<%= blog.escape("author_id") %>">
               <%= blog.escape("author_username") %></a></h2>
<h2>Team: <a href="/#teams/<%= blog.escape("team_id") %>">
               <%= blog.escape("team_name") %></a></h2></div>

<% if (current_user_id && current_user_id != blog.escape("author_id")) { %>
  <% if (blog.followState(SpumblrApp.current_user_id)) { %>
    <button class="toggleFollow">Unfollow!</button>
  <% } else { %>
    <button class="toggleFollow">Follow!</button>
  <% } %>
<% } %>

<div class='posts-window'>
  <div id="posts">
  </div>

    <% if (current_user_id && current_user_id == blog.escape("author_id")) { %>
      <div id="post-form">
      </div>
    <% } %>
</div>
<h3>Followers:<h3>
<% blog.followers().forEach(function(follower) { %>
  <a href="users/<%= follower.user_id %>"><%= follower.escape("follower_username") %></a>
<% }) %>
